/* Modelos base */

:root {
    /* Font size */
    --h1-size: 3rem;
    --h2-size: 2.6rem;
    --h3-size: 2.2rem;
    --h4-size: 2rem;
    --p-size: 1.6rem;
    /* Color */
    --nav-color: #1c1d20;
    --texto-backgroun-negro: #fff;
    --blanco-estrella: #FAF7F2;

}

/* Buenas practicas */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html {
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif; /* Fuente del proyecto */
}

/* Header */

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    background: var(--nav-color);
    height: 30px;
}

header nav .normal-nav {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .normal-nav a {
    margin-right: 20px;
    font-size: 1.5rem;
    color: var(--texto-backgroun-negro);
}

header .header--text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100;
    min-width: 320px;
    height: 480px;
    text-align: center;
    background: #6A9113;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(220, 7%, 8%, 0.98), hsla(79, 77%, 32%, 0.7)), url(../imagenes/Walpapper\ web.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(220, 7%, 8%, 0.98), hsla(79, 77%, 32%, 0.7)), url(../imagenes/Walpapper\ web.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-size: cover;
    background-attachment: fixed;
}

.header--text-container h1{
    margin-bottom: 20px;
    margin-top: 100px;
    color: var(--texto-backgroun-negro);
    font-size: var(--h1-size);
    font-weight: bold;
    line-height: 3.2rem;
}

.header--text-container h2{
    margin-bottom: auto;
    color: var(--texto-backgroun-negro);
    font-size: var(--h2-size);
    font-weight: lighter;
}

.ola {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Main */

main {
    width: 100%;
    height: auto;
    background-color: var(--blanco-estrella);
}

.main-setup-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-section-setup--text {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.background-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('../imagenes/setup.png');
}