{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Esta es la descripción de Google">
    <meta name="robots" content="index,follow">
    <title>Este es el titulo de la pestaña web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'python/css/main.css' %}">
</head>

<body>
    <header>
        <div>
            <nav>
                <a href="#">Inicio</a>
                <a href="#">Python</a>
                <a href="#">web</a>
                <a href="#">Contacto</a>
                <a href="#">cv</a>
            </nav>
            <section class="texto-headers">
                <h1>¿Qué es y cómo aprender a programar en python?</h1>
                <h2>Una web-código donde aprenderás todo lo que tienes que saber</h2>
            </section>
            <div class="ola" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150"
                    preserveAspectRatio="none" style="height: 100%; width: 100%;">
                    <path d="M0.00,49.98 C264.10,206.75 221.22,19.25 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: #fff;"></path>
                </svg></div>
        </div>
    </header>
    <main>
        <section class="titulo-sobre-mi">
            <h2>
                <h2 class="titulo" id="setup-sobre-mi">Desarrollador Python Junior</h2>
            </h2>
        </section>
        <section class="contenedor-sobre-mi">
            <div class="contenedor-desarrollador">
                <img src="{% static 'python/imagenes/Consola.png' %}" alt="Esto es una imagen sobre mi setup de trabajo"
                    class="imagen-sobre-mi">
            </div>
            <div class="contenido-textos">
                <h3><span>1</span>Francisco Javier Berastegui Guigou</h3>
                <p>¡Hola! Mi nombre es Javier Berastegui. Especialista en empresa y programador Junior Python, aquí
                    aprenderás a desarrollar tu carrera de backend y analista de datos.</p>
                <p>Esta web-código la podrás utilizar como recurso para aprender Python con mis artículos donde
                    aprenderás desde lo más básico a lo más avanzado. Recuerda que será necesario siempre recurrir a la
                    documentación oficial, toda la información expuesta en esta web es una síntesis de mi experiencia de
                    aprendizaje personal.</p>
                <h3><span>2</span>¿Qué es Python?</h3>
                <p>Python es un lenguaje de programación interpretado, es decir, no es necesario traducirlo a lenguaje
                    de máquina para que esté ejecute las funciones dentro del código que has desarrollado. Es conocido
                    como un lenguaje de programación orientado a objeto. Se trata de un lenguaje de programación
                    multiparadigma, ya que soporta orientación a objetos, programación imperativa y, en menor medida,
                    programación funcional.</p>
                <p>Se distribuye bajo la licencia de código abierto PSF y cuenta con un modelo de desarrollo
                    comunitario, en el que cualquiera puede aportar extensiones al núcleo del lenguaje. Si algo
                    caracteriza a este lenguaje programación es la comunidad a la que pertenece, es un lenguaje donde
                    puedes encontrar información muy útil y de manera muy fácil, ya que las personas que lo saben como
                    funciona suelen compartir los conocimientos de este.</p>
                <p>Mi recomendación en cuanto a si Python es el primer lenguaje de programación que deberías, es simple.
                    Haz lo que pienses que te puede hacer feliz y con lo que realmente te sientas cómodo.</p>
                <p>Este es uno de los fuertes de Python, tiene como filosofía la legibilidad de su código, y es ahí
                    donde reside su facilidad para ser aprendido. Es un lenguaje de programación que se parece mucho al
                    lenguaje humano.</p>
                <p>Mi experiencia personal con Python ha sido muy buena, debido a que en muchos casos escribes código
                    como hablas. Es un lenguaje muy dinámico y el aprendizaje es vertiginosamente rápido, después claro
                    está, siempre puedes aprender cosas nuevas como todo en la vida.</p>
                <p>Para mí Python es, sin lugar a dudas, el lenguaje de futuro. Qué en completo con otros, puedes lograr
                    proyectos tan ambiciosos como es Netflix.</p>
            </div>
        </section>
        <section class="categorias-web">
            <div class="contenedor">
                <h2 class="titulo">Categorías Web</h2>
                <div class="galeria-categorias-web">
                    <div class="imagen-categorias">
                        <img class="cat-imag" src="{% static 'python/imagenes/python.png' %}"
                            alt="Esto es una imagen sobre aprender a programar en python">
                        <div class="hover-galeria">
                            <img src="{% static 'python/imagenes/click.png' %}" alt="Este icono representa apython">
                            <p>Aprende a programar en python</p>
                        </div>
                    </div>
                    <div class="imagen-categorias">
                        <img class="cat-imag" src="{% static 'python/imagenes/backend.png' %}"
                            alt="Esto es una imagen sobre aprender backend de python">
                        <div class="hover-galeria">
                            <img src="{% static 'python/imagenes/click.png' %}" alt="Este icono representa apython">
                            <p>Aprende a programar backend</p>
                        </div>
                    </div>
                    <div class="imagen-categorias">
                        <img class="cat-imag" src="{% static 'python/imagenes/ciencia-datos.png' %}"
                            alt="Esto es una imagen sobre aprender ciencia de datos">
                        <div class="hover-galeria">
                            <img src="{% static 'python/imagenes/click.png' %}" alt="Este icono representa apython">
                            <p>Aprende ciencia de datos</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contenedor-sobre-otras-secciones-sobre-mi">
            <h2 class="titulo">Conoce más sobre mi</h2>
            <p>Lo más importante que tienes que hacer para aprender a programar es la práctica, tienes que picar código,
                romper y crear cosas. Pero sobre todo leer y documentarte, ¡La motivación lo es todo!</p>
            <div class="cards">
                <div class="card">
                    <img src="{% static 'python/imagenes/github-card.png' %}" alt="Esta imagen es del logo de github">
                    <div class="contenido-texto-card">
                        <h4>GitHub</h4>
                        <p>Si ya eres programador y necesitas copiar algo de mi código, descarga todo lo que necesites
                            de mi GitHub</p>
                        <button href="https://bit.ly/3prjijQ">Ver más</button>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'python/imagenes/platzi-card.png' %}" alt="Esta imagen es del logo de platzi-card">
                    <div class="contenido-texto-card">
                        <h4>Cursos realizados de programación</h4>
                        <p>Contrasta los conocimientos que he adquirido hasta el momento de programación, recuerda que
                            esto se irá actualizando automáticamente.</p>
                        <button href="http://bit.ly/3Ob2jOk">Ver más</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="redes">
            <h3>Sigueme en mis redes</h3>
        </div>
        <div class="contenedor-footer">
            <div class="content-foo">
                <a title="Facebook" href="https://www.facebook.com/javiberastegui/"><img src="{% static 'python/imagenes/facebook.png' %}"
                        alt="Esta imagen representa el logo de Facebook" /></a>
            </div>
            <div class="content-foo">
                <a title="Instagram" href="https://www.instagram.com/dev.javierberastegui/"><img
                        src="{% static 'python/imagenes/Instagram_logo_2016.svg.png' %}"
                        alt="Esta imagen representa el logo de Instagram" /></a>
            </div>
            <div class="content-foo">
                <a title="Twitter" href="https://twitter.com/javierberastegu"><img src="{% static 'python/imagenes/twitter-logo-6.png' %}"
                        alt="Esta imagen representa el logo de twitter" /></a>
            </div>
            <div class="content-foo">
                <a title="GitHub" href="https://github.com/javierberastegui/proyectos"><img
                        src="{% static 'python/imagenes/github-card.png' %}" alt="Esta imagen representa el logo de github" /></a>
            </div>
        </div>
    </footer>
</body>

</html>