<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="▷  Tu web-código donde aprenderás Python con mis artículos para todos los niveles. El lenguaje de programación orientado a objetos más conocido del mundo.">
    <meta name="robots" content="index,follow">
    <title>La mejor web-código de Python. ¡Aprende YA!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'page/python.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <section>
            <nav>
                <ul class="normal-nav">
                    <li>
                        <a href="{% url 'page:index' %}" class="href">Inicio</a>
                    </li>
                    <li>
                        <a href="{% url 'page:python' %}" class="href">Python</a>
                    </li>
                    <li>
                        <a href="{% url 'page:contact' %}" class="href">Contacto</a>
                    </li>
                    <li>
                        <a href="{% url 'page:cv' %}" class="href">Cv</a>
                    </li>
                </ul>
        </section>
        <section>
            <div class="header--text-container">
                <h3>Hola mundo! Aprendamos a programar con python</h3>
                <p>Python es un lenguaje sencillo de leer y de escribir, debido a su similitud con el lenguaje humano.
                    Su facilidad para aprenderlo es increíble, lo que hace maravilloso la cantidad de campos donde se
                    puede implementar.
                <p>
            </div>
        </section>
    </header>

    <main>
        <!-- seccion bajo banner -->
        <section class="main-intro-container">
            <div class="main-section-intro--text">
                <h2>→ Aprende aprogramar con mis notas de python</h2>
                <p>Todos los recursos que puedas necesitar, de PYTHON online donde demuestro mi habilidad con PYTHON y
                    además te doy la oportunidad de aprender de forma gratuita como desarrollar con uno de los lenguajes
                    de programación más usados del mundo.</p>
                <h2>¿Qué es Python?</h2>
                <p class="margen-boton">Python es un lenguaje de programación creado por Guido van Rossum en 1989. La
                    filosofía de este lenguage de programación hace especial hincapié en la legibilidad de su código y
                    la simplicidad del mismo.</p>
                <h2 class="margen-boton2">¿Qué aprenderás en mi Web-Código?</h2>
                <p>Veremos funciones, el concepto de algoritmo, parámetros, listas, diccionarios, variables, List
                    comprehensions, dict comprehensions, iteradores, funciones anónimas, los tipados, azúcar sintáctica,
                    decoradores, generadores y mucho más…
                    Creditos:</p>
                <p> Recuerda que todo el material que te facilito es solo introductorio y que una vez entiendas el
                    concepto deberás de ampliar conocimientos con otros soportes y con la documentación oficial de
                    PYTHON online </p>
                <p> Finalmente, es de agradecer que compartas estos aportes para hacer crecer nuestra comunidad de
                    PYTHON con quien creas que le puede ayudar.</p>
                <p> Todo el código lo tienes publicado en mi GitHub por si deseas reutilizarlo en tus proyectos.</p>
                <p> Hola mundo ¡Empezemos!</p>
            </div>
        </section>
        <!-- Seccion carrusel de categorias -->
        <section id="categorias" class="category">
            <div class="categorias-title">
                <h2>Todos los recursos de programación</h2>
                <p>Lo más importante que tienes que hacer para aprender a programar es la práctica, tienes que picar
                    código, romper y crear cosas. Pero sobre todo leer y documentarte, ¡La motivación lo es todo!</p>
            </div>
            <section class="categorias-cotainer--slider">
                <article class="categorias-container--card">
                    <p class="etiqueta-nuevo">Proximamente</p>
                    <div class="category-info-container">
                        <h3 class="category-card--title">Web</h3>
                        <p class="category-card--body">Backend</p>
                        <p class="category-card--saving">*El contenido se ira actualizando</p>
                        <a class="boton-categorias" href="#"><button class="category-card--ca">Seguir leyendo
                                <span></span></button></a>
                    </div>
                </article>
                <article class="categorias-container--card">
                    <p class="etiqueta-nuevo">Proximamente</p>
                    <div class="category-info-container">
                        <h3 class="category-card--title">Ciencia</h3>
                        <p class="category-card--body">Datos</p>
                        <p class="category-card--saving">*El contenido se ira actualizando</p>
                        <a class="boton-categorias" href="#"><button class="category-card--ca">Seguir leyendo
                                <span></span></button></a>
                    </div>
                </article>
            </section>
        </section>
        <!-- seccion de post -->
        <section class="main-post-detail">
            <div class="post-detail--title">
                <h2>Aprende aprogramar en Python</h2>
                <p>Aquí encontrarás todos los recursos sobre Python, una sección enfocada en el aprendizaje de un de
                    los lenguajes de programación más populares del mundo, recuerda siempre completar la información
                    porporcionada en los recursos con la documentación oficial de python</p>
            </div>
            <section class="post-cards--container">
                <a class="post-card-link" href="{% url 'post:post3' %}" style="display:block">
                    <article class="post-detail--card">
                        <h2>Qué son los operadores lógicos y de comparación</h2>
                        <p>Los operadores lógicos y operadores de comparación se utilizan para trabajar con el tipo de
                            dato booleano, es decir, siempre vamos a obtener un resultado falso o verdadero y basándonos
                            en eso, haremos que nuestro programa tenga un comportamiento específico...</p>
                </a>
                </article>
                <a class="post-card-link" href="{% url 'post:post2' %}" style="display:block">
                    <article class="post-detail--card">
                        <h2>¿Qué es una variable y cómo puedes usar los operadores lógicos en Python?</h2>
                        <p>Si buscamos un poco en el gigante de Google, una variable matemática es un símbolo utilizado
                            para
                            proponer fórmulas, algoritmos o ecuaciones. Esta, a su vez, puede tomar diferentes valores,
                            dependiendo estos de otras variables, así como de una serie de parámetros y de...</p>
                </a>
                </article>
                <a class="post-card-link" href="{% url 'post:post1' %}" style="display:block">
                    <article class="post-detail--card">
                        <h2>Hola mundo!! Introducción a la programación con Python</h2>
                        <p>Bienvenido a mi espacio personal, mi nombre es Javier Berastegui y en esta sección mi
                            objetivo es
                            la introducción en el apasionante mundo de la programación de la mano de PYTHON. Las razones
                            básicas por las que Python es uno de los mejores lenguajes de programación y...</p>
                </a>
                </article>
            </section>
        </section>
    </main>
    <footer>
        <section>
            <nav>
                <ul class="politicas">
                    <li>
                        <a href="#" class="href">Aviso privacidad</a>
                        <a href="#" class="href">Cookies</a>
                    </li>
                </ul>
        </section>
        <section class="derechos">
            <p>Javier Berastegui 2022</p>
            <p>Todos los derechos reservados</p>
        </section>
    </footer>
</body>

</html>